@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@700&display=swap');

:root {
  --gray-blue: hsl(237, 18%, 59%);
  --soft-red: hsl(345, 95%, 68%);

  --dark-blue-700: hsl(236, 21%, 26%);
  --dark-blue-900: hsl(235, 16%, 14%);
  --dark-blue-black: hsl(234, 17%, 12%);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
  font-weight: 700;
}

.app {
  background-color: var(--dark-blue-900);
  color: white;
}

.timer {
  height: 800px;
  width: 1440px;
}
